* {
  font-family: georgia, serif;
  text-align: left;
}

div {
  max-width: 33em;
  width: 50%;
  margin: auto;
  padding: 10px;
}

div>div {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 320%;
  line-height: 1.35;
  font-style: normal;
  margin: 1.5em 0 0.8em;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin: 1em 0 0.8em;
}

h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: 0.15em;
  margin: 1.75em 0 0.8em;
}

.coldefault {
  color: black;
}

.colblack {
  color: black;
}

.colred {
  color: red;
}

.colgreen {
  color: green;
}

.colbrown {
  color: brown;
}

.colblue {
  color: blue;
}

.colmagenta {
  color: magenta;
}

.colcyan {
  color: cyan;
}

.collightgray {
  color: lightgray;
}

.colrichcolors {
}

.reset {
  color: black;
}

.colwhite {
  color: white;
}

.stlbold {
  font-weight: bold;
}

.stlitalic {
  font-style: italic;
}

.stlunderline {
  text-decoration: underline;
}

.stlstrike {
  text-decoration: line-through;
}

.strloverline {
  text-decoration: overline;
}

.stlfraktur {
  font-family: "Courier New", monospace;
  font-size: 90%;
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #ECECEC;
  border-radius: 4px;
}
