* {
  font-family: georgia, serif;
  text-align: left;
}

div {
  max-width: 33em;
  width: 50%;
  margin: auto;
  padding: 10px;
}

div>div {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 320%;
  line-height: 1.35;
  font-style: normal;
  margin: 1.5em 0 0.8em;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin: 1em 0 0.8em;
}

h3 {
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 150%;
  letter-spacing: 0.15em;
  margin: 1.75em 0 0.8em;
}

h4 {
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

.colordefault {
  color: black;
}

.colorblack {
  color: black;
}

.colorred {
  color: red;
}

.colorgreen {
  color: green;
}

.colorbrown {
  color: brown;
}

.colorblue {
  color: blue;
}

.colormoragenta {
  color: magenta;
}

.colorcyan {
  color: cyan;
}

.colorlightgray {
  color: lightgray;
}

.colorrichcolors {
}

.reset {
  color: black;
}

.colorwhite {
  color: white;
}

.sytlebold {
  font-weight: bold;
}

.styleitalic {
  font-style: italic;
}

.styleunderline {
  text-decoration: underline;
}

.stylestrike {
  text-decoration: line-through;
}

.styleoverline {
  text-decoration: overline;
}

.stylefraktur {
  font-family: "Courier New", monospace;
  font-size: 90%;
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #ECECEC;
  border-radius: 4px;
}
